# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.rar
*.jar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# binaries #
bin/



